<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sandgrains.edu.student">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取手机状态参数，并作为生成个推唯一标识的必要参数 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 查看网络状态，sdk重连机制等需要使用 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 查看wifi连接状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 开机自启动权限，提升sdk活跃，保障触达 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 写sd卡权限，做数据备份 -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 获取任务信息，目的是防止sdk被频繁唤醒 -->
    <!-- <uses-permission android:name="android.permission.GET_TASKS"/> -->
    <!-- 获取任务信息，目的是防止sdk被频繁唤醒 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:name=".EduStudentApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edu"
        tools:replace="android:allowBackup">
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Main" />
        <activity android:name=".ui.account.RetrievePawActivity" />
        <activity android:name=".ui.account.InputCodeActivity" />
        <activity android:name=".ui.video.QuestionDetailActivity" android:theme="@style/Question"/>
        <activity
            android:name=".ui.video.PlayActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Play" />
        <activity
            android:name=".ui.account.LoginActivity"
            android:theme="@style/Login" />

        <service
            android:name=".utils.sdk.GeTuiIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>